*{
    margin: 0;
}
body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #999;
    background-image: linear-gradient(120deg, #66a6ff 0%, #89f7fe 100%);
}
main{
    line-height: 2;
}

.text{
    color:white;
}
.information{
    list-style: none;
    padding: 0;
    margin: 0;
}
.box-form{
    padding: 40px 70px;
    background: #fff;
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}
.contact-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container-contact{
    padding: 80px 0;
}
.contact-info{
    padding-right: 150px;
}
.form-label input[type="text"],
.form-label input[type="email"],
.form-label input[type="tel"],
select,
textarea {
  font-size: 16px;
  width: 80%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.row{
    display: flex;
    align-items: center;
    column-gap: 40px;
}
.form-field ol{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}
.form-field ul{
    display: flex;
    flex-direction: row;
}
.form-label label{
    font-weight: bold;
}
.button {
    background-color: white;
    color: rgb(29, 155, 240);
    border-color: rgb(29, 155, 240);
    border-width: 1px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    padding: 7px 30px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 50px;
    margin-left: 20px;
  }
  .button:hover{
    color: white;
    background-color: rgb(29, 155, 240);
    transition: 0.3s;
  }

  @media (max-width:767px) {
    body{
        background-image:none;
    }
    .contact-info{
        display: none;
    }
    .row{
        flex-direction: column;
        align-items: flex-start;
    }
    .contact-box{
        display: block;
    }
    .row1 {
        flex-direction: row;
    }
    .form-field ul{
        column-gap: 30px;
    }
  }
  @media screen and (min-width:768px) and (max-width:992px) {
    .contact-info{
        margin-left: 65px;
        padding-right: 90px;
    }
    .container-form{
        margin-right: 70px;
    }
  }


